<% if @book.errors.any? %>
<h4 class="error_count"><%= @book.errors.count %> errors prohibited this book from being saved:</h4>
<ul class="error_box">
  <% @book.errors.full_messages.each do |message| %>
  <li class="error_message"><%= message %></li>
  <% end %>
</ul>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1>Editing Book</h1>
      <%= form_for @book do |f| %>
      <div class="form-group">
        <%= f.label :title, "Title" %>
        <%= f.text_field :title , class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :body, "Opinion" %>
        <%= f.text_area :body , class: "form-control" %>
      </div>
      <%= f.submit "Update book" , class: "btn btn-primary btn-block" %>
      <% end %>

      <%= link_to "Show" , book_path(@book.id) %> | <%= link_to "Back" , books_path %>
    </div>
  </div>
</div>