<!DOCTYPE html>
<html>

<head>
  <title>Bookers2</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <div class="header">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <div class="navbar-brand">Bookers</div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_target">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="nav_target">
            <% if user_signed_in? %>
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item">
                <%= link_to user_path(current_user.id) , class: "nav-link" do %>
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to users_path , class: "nav-link" do %>
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users
                <% end %>
              </li>
              <li>
                <%= link_to books_path , class: "nav-link" do %>
                <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Books
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete , class: "nav-link" do %>
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> loguot
                <% end %>
              </li>
            </ul>
            <% else %>
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item">
                <%= link_to root_path , class: "nav-link" do %>
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to about_path , class: "nav-link" do %>
                <span class="glyphicon glyphicon-link" aria-hidden="true"></span> About
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_registration_path , class: "nav-link" do %>
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> sign up
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path , class: "nav-link" do %>
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> login
                <% end %>
              </li>
            </ul>
            <% end %>


          </div>
        </div>
      </nav>
    </div>
  </header>

  <%= yield %>

  <footer>
    <div class="footer">
      <p class="text-center">CopyRight Infratop.inc</p>
    </div>
  </footer>
</body>

</html>